//COLORS
$grey: #454647;
$blue: #307FE2;
$grey-light: #D3D3D3;
$red: #f05050;
//COLORS

//MENU
$hoverTopMenu: #e7f0ff;
$hoverAsideMenu: #FAFAFA;
//MENU

//FORMS
$disabled: #F4F5F6;
$dropdown-option-hover: #F2F2F2;
$checked: #F2F2F2;
//FORMS

//BUTTONS
$button-blue-hover: #176fe3;
$button-grey-hover: #404142;
$button-grey-light-hover: #D9D9D9;
//BUTTONS